node_modules/
dist/
.env
.env.local
*.local

# Firebase
GoogleService-Info.plist
firebase-config.json

# Expo
.expo/
*.jks
local.properties
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# OS
.DS_Store
Thumbs.db
.claude

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
build/
*.tsbuildinfo
